

/* import fonts from fonts.css file */
@import url(./fonts.css);

/* css variables */ 
@import url(./partials/variables.css);

/* import global styling */ 
@import url(./partials/global.css);

/* Start Navigation Area */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .logo {
    padding-left: 70px;
    position: relative;
    transition: 0.2s;
}

header.sticky {
    padding: 5px 100px;
    background: rgba(0, 0, 0, 0.712);
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    font: normal 15px/2px var(--roboto);
    text-transform: uppercase;
    padding-left: 10px;
    color: var(--title-color);
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.2s;
}

#accounts,
#books,
#reservations,
#admin {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 16px;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s;
}

#logout {
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 20px 16px;
    border: 0.1em solid white;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    transition: all 0.2s;
}

header ul li a:hover {
    color: black;
}

#accounts:hover,
#books:hover,
#reservations:hover,
#admin:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}

#logout:hover {
    color: rgb(255, 255, 255);
    background-color: black;
    border: 0.1em solid black;
}

header.sticky ul li a {
    color: #fff;
}

header.sticky ul li a:hover {
    color: rgb(255, 166, 0, 0.849);
}

.sticky #accounts:hover, .sticky #books:hover, .sticky #reservations:hover, .sticky #admin:hover {
    color: rgb(255, 166, 0, 0.849);
}

.sticky #logout:hover {
    color: rgb(255, 166, 0, 0.849);
}

/* End Navbar Area */

/* Start Banner Area */

.site-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/banner/background.jpg);
    background-size: cover;
}

.site-main .site-banner .site-title h3 {
    position: absolute;
    top: 25%;
    padding-left: 100px;
    line-height: 100px;
    width: 55%;
    font-family: 'Abril Fatface', cursive;
    font-size: 90px;
    color: white;
    animation: slide_up 2s ease;
}

.site-main .site-banner .site-title h3::after {
    content: " ";
    height: 2px;
    width: 18vw;
    background: black;
    margin-left: 10%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
    position: absolute;
    top: 50%;
    padding-left: 550px;
    font-size: 1.5rem;
    color: white;
    animation: slide_up 2.5s ease;
}

.site-main .site-banner .site-title h4 {
    position: absolute;
    top: 55%;
    padding-left: 92px;
    padding-top: 25px;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 6.8px;
}

.site-main .site-banner .site-title button {
    position: absolute;
    top: 68%;
    margin-left: 90px;
    font-size: .8rem;
    color: rgb(0, 0, 0);
}

    @keyframes slide_up {
        0% {
            transform: translateY(100px);
        }
        100% {
            transform: translateY(0);
        }
    }

    .site-banner a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        z-index: 2;
        display: inline-block;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        color: #fff;
        font : normal 400 20px/1 'Josefin Sans', sans-serif;
        letter-spacing: .1em;
        text-decoration: none;
        transition: opacity .3s;
      }
      .site-banner a:hover {
        opacity: .5;
      }
      
      #scroll a {
        padding-top: 60px;
      }
      #scroll a span {
        position: absolute;
        top: 0;
        left: 50%;
        width: 24px;
        height: 24px;
        margin-left: -12px;
        border-left: 1px solid #fff;
        border-bottom: 1px solid #fff;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-animation: sdb04 2s infinite;
        animation: sdb04 2s infinite;
        box-sizing: border-box;
      }
      
      @keyframes sdb04 {
        0% {
          transform: rotate(-45deg) translate(0, 0);
        }
        20% {
          transform: rotate(-45deg) translate(-10px, 10px);
        }
        40% {
          transform: rotate(-45deg) translate(0, 0);
        }
      }

/* End Banner Area */

/* Start Book Area */

.site-main .book-area h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
    padding-top: 10%;
    padding-bottom: 1%;
}

.site-main .book-area h2 {
    content: " ";
    display: block;
    margin-left: 685px;
    width: 5%;
    padding-top: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.site-main .book-area .button-group {
    padding-left: 108px;
    padding-top: 90px;
    padding-bottom: 70px;
}

.site-main .book-area .book-container .title {
    padding-left: 100px;
    text-align: left;
}

#All {
    color: rgba(255, 166, 0, 0.849);
}

.site-main .book-area .button-group li + li {
    padding-left: 6.6rem;
}

.site-main .book-area .button-group .active li { 
    background: var(--gradient-color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-main .book-area .button-group li:hover {
    background: var(--gradient-color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.site-main .book-area .img a:hover img {
    filter: brightness(1.1) drop-shadow(16px 16px 16px #b1afaf);
}

/* End Book Area */

/* Start Stat Area */

.margin {
	margin-top: 100px;
}

.parallax {
	position: relative;
    display: flex;
    justify-content: center;
}

    .parallax::before {
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: url(../img/books.jpg) repeat fixed 100%;
        filter: brightness(70%);
    }

.parallax-inner {
	padding-top: 10%;
	padding-bottom: 10%;
}

.parallax h1 {
    position: relative;
	text-align: center;
    font-family: 'Abril Fatface', cursive;
	font-size: 72px;
	color: #FFF;
}	

.parallax h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
}	

.parallax h3 {
    position: relative;
	text-align: center;
	font-size: 12px;;
	color: #FFF;
    padding-top: 2%;
	text-transform: uppercase;
	letter-spacing: 2px;
}	

/* End Stat Area */

/* Start Quote Area */

.quote-area {
    padding-top: 175px;
    padding-bottom: 150px;
}

.site-main .quote-area .author {
    background: #ffffff10;
    padding-left: 350px;
}

.site-main .quote-area .author .quote h4 {
    font-family: serif;
    color: rgb(0, 0, 0);
    font-style: italic;
}

.site-main .quote-area .author .quote p {
    font-family: serif;
    color: rgb(48, 47, 47);
    padding-bottom: 50px;
}

.site-main .quote-area .owl-carousel .owl-dots .owl-dot.active span {
    background: rgba(255, 166, 0, 0.849);
}
/* End Quote Area */

/* Start Recycle Area */

.margin2 {
	margin-top: 100px;
}

.parallax2 {
	position: relative;
    display: flex;
    justify-content: center;
}

    .parallax2::before {
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background: url(../img/recycle.jpeg) repeat fixed 100%;
        filter: brightness(80%);
    }

.parallax-inner2 {
	padding-top: 10%;
	padding-bottom: 10%;
}

    .parallax-inner-inner::before {
        content: " ";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 850px;
        width: 60%;
        background: black fixed;
        opacity: 65%;
        filter: brightness(80%);
    }

.parallax2 h1 {
    padding-right: 100px;
    position: relative;
	text-align: center;
    font-family: 'Abril Fatface', cursive;
	font-size: 40px;
	color: #FFF;
}	

.parallax2 h2 {
    padding-right: 100px;
    padding-top: 30px;
    position: relative;
    content: " ";
    display: block;
    margin-left: 125px;
    width: 1px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 25px;
}	

.parallax2 h3 {
    padding-right: 100px;
    position: relative;
	font-size: 15px;;
    line-height: 30px;
	color: #FFF;
    padding-top: 2%;
    margin-bottom: 90px;
}	

.parallax2 button {
    position: absolute;
    top: 75%;
    margin-left: 956px;
    font-size: .7rem;
    color: rgb(0, 0, 0);
}

/* End Recycle Area */

/* Start Subscribe Area */

.subscribe-area {
    padding-top: 250px;
    padding-bottom: 250px;
    background-image: url(../img/subscribe.jpeg);
}

.subscribe-area .subscribe-title h4 {
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    color: rgb(0, 0, 0);
    padding-bottom: 1%;
}

.subscribe-area .subscribe-title h2 {
    content: " ";
    display: block;
    margin-left: 48%;
    width: 5%;
    padding-top: 10px;
    border-bottom: 2px solid rgb(0, 0, 0);
}

.subscribe-area .subscribe-title p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.subscribe-area .subscribe form .input-textbox input {
    width: 500px;
    background: transparent;
    border: 1px solid black;
    color: black;
}    

.subscribe-area .subscribe form .input-textbox input::placeholder {
    color: black;
}

.subscribe-area .subscribe form .btn-submit button {
    padding: .65rem 1rem;
    background: transparent;
    border: 1px solid black;
    color: black;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2px;
}

.subscribe-area .subscribe form .btn-submit button:hover {
    background: rgba(255, 181, 43, 0.747);
}
 
/* End Subscribe Area */

/* Start Footer Area */

.footer-area {
    background-image: url(../img/footer-bg.png);
    padding-top: 100px;
    padding-bottom: 10px;
}

.footer-area .footer-text {
    font-family: 'Abril Fatface', cursive;
    font-size: 25px;
    color: white;
    letter-spacing: 2px;
}

.footer-area .copyright {
    padding-top: 100px;
    font-family: sans-serif;
    font-size: 12px;
    color: white;
    letter-spacing: 1.5px;
}

/* End Footer Area */

/* Start Scroll-to-top button */

.to-top {
    background: rgb(255, 218, 150);
    position: fixed;
    bottom: 1px;
    right: 32px;
    width: 50px;
    height: 45px;
    border-style: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

.to-top.active:hover {
    color: rgb(0, 0, 0);
}

/* End Scroll-to-top button */

/* ==================================================== About us =========================================================== */

/* Start About Us Area */

.site-banner-about .bg-image-about {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url(../img/about-us-bg.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.site-banner-about .about-title {
    font-family: 'Abril Fatface', cursive;
	font-size: 85px;
	color: #FFF;
    transform: translate(37%, -450%);
    z-index: 2;
}

.site-banner-about h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translate(380%, -22000%);
    z-index: 2;
}

.row {
    display: flex;
}
  
.column-right,
.column-left {
    flex: 50%;
}

.site-banner-about .about-us-title h1 {
    font-family: 'Abril Fatface', cursive;
	font-size: 90px;
	color: rgb(49, 49, 49);
    text-transform: uppercase;
    padding-left: 100px;
}

.site-banner-about .about-us-title h4 {
    font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: rgb(59, 59, 59);
    font-weight: 700;
    line-height: 35px;
    padding-left: 100px;
    padding-top: 20px;
}

.site-banner-about .about-us-title p {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(100, 100, 100);
    padding-left: 100px;
    padding-top: 20px;
}

.site-banner-about .our-story-img {
    width: 550px;
    padding-left: 20px;
}

.site-banner-about .kth-img {
    width: 250px;
    padding-top: 30px;
    padding-bottom: 125px;
    margin-left: 125px;
    cursor: pointer;
}

.site-banner-about .eecs-img {
    width: 100px;
    margin-left: 430px;
    margin-top: -390px;
    background: transparent;
    cursor: pointer;
}

.site-banner-about-services {
    background-color: rgb(245, 245, 245);
}

.site-banner-about-services .our-story-bg {
    width: 550px;
    padding-left: 45px;
    padding-top: 70px;
    padding-bottom: 75px;
}

.site-banner-about-services .our-services h1 {
    font-family: 'Abril Fatface', cursive;
	font-size: 90px;
	color: rgb(49, 49, 49);
    text-transform: uppercase;
    padding-left: 100px;
    padding-top: 120px;
}

.site-banner-about-services .our-services h4 {
    font-family: 'Playfair Display', serif;
	font-size: 28px;
	color: rgb(59, 59, 59);
    font-weight: 700;
    line-height: 35px;
    padding-left: 100px;
    padding-top: 20px;
}

.site-banner-about-services .grid {
    margin-top: -100px;
}

.column-left2,
.column-right2,
.column-left3,
.column-right3 {
    padding-top: 5px;
    flex: 50%;
}

.column-left2 {
    margin-top: -10px;
    margin-left: -65px;
}

.column-right2 {
    margin-top: -10px;
    margin-left: -150px;
}

.column-left3 {
    margin-top: -100px;
    margin-left: -65px;
}

.column-right3 {
    margin-top: -100px;
    margin-left: -150px;
}

.site-banner-about-services .our-services i {
    color: rgb(214, 195, 142);
    font-size: 50px;
}

.site-banner-about-services .our-services p {
    font: var(--roboto);
    font-size: 13px;
    color: rgba(0, 0, 0);
    padding-left: 100px;
}

.site-banner-about-services .our-services button {
    position: absolute;
    width: 470px;
    font-size: .7rem;
    margin-left: 100px;
    margin-top: 60px;
    color: rgb(0, 0, 0);
}

/* End About Us Area */

/* ==================================================== Services =========================================================== */

/* Start Services Area */

.site-banner-services .bg-image-services {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url(../img/services-bg.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.site-banner-services .services-title {
    font-family: 'Abril Fatface', cursive;
	font-size: 85px;
	color: #FFF;
    transform: translate(37%, -450%);
    z-index: 2;
}

.site-banner-services h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translate(380%, -22000%);
    z-index: 2;
}

.row {
    display: flex;
}
  
.column-right,
.column-left {
    flex: 50%;
}

.site-banner-services .services-title h1 {
    font-family: 'Abril Fatface', cursive;
	font-size: 90px;
	color: rgb(49, 49, 49);
    text-transform: uppercase;
    margin-top: 975px;
    margin-left: -150px;
}

.site-banner-services .ask-a-librarian h4 {
    font-family: 'Playfair Display', serif;
	font-size: 32px;
	color: rgb(214, 195, 142);
    font-weight: 700;
    line-height: 35px;
    margin-top: -800px;
    margin-left: 80px;
}

.site-banner-services .ask-a-librarian p {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(100, 100, 100);
    margin-left: 80px;
    padding-top: 10px;
}

.site-banner-services .ask-a-librarian .link-to-contact {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(100, 100, 100);
    margin-left: 80px;
    padding-top: 10px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.site-banner-services .ask-a-librarian .link-to-contact:hover {
    color: rgb(214, 195, 142);
    text-decoration: underline;
}

.site-banner-services .services-video1 {
    padding-left: 90px;
    margin-top: -840px;
}

.site-banner-services .study-booth h4 {
    font-family: 'Playfair Display', serif;
	font-size: 32px;
	color: rgb(214, 195, 142);
    font-weight: 700;
    line-height: 35px;
    margin-top: -310px;
    margin-left: 750px;
}

.site-banner-services .study-booth p {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(100, 100, 100);
    margin-left: 750px;
    padding-top: 10px;
}

.site-banner-services .services-video2 {
    padding-left: 90px;
    margin-top: -350px;
}

.site-banner-services .recycle h4 {
    font-family: 'Playfair Display', serif;
	font-size: 32px;
	color: rgb(214, 195, 142);
    font-weight: 700;
    line-height: 35px;
    margin-top: 145px;
    margin-left: 80px;
}

.site-banner-services .recycle p {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(100, 100, 100);
    margin-left: 80px;
    padding-top: 10px;
}

.site-banner-services .recycle .link-to-contact {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(100, 100, 100);
    margin-left: 80px;
    padding-top: 10px;
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

.site-banner-services .recycle .link-to-contact:hover {
    color: rgb(214, 195, 142);
    text-decoration: underline;
}

.site-banner-services .services-video3 {
    padding-left: 90px;
    margin-top: 100px;
}

.site-banner-services .book-club h4 {
    font-family: 'Playfair Display', serif;
	font-size: 32px;
	color: rgb(214, 195, 142);
    font-weight: 700;
    line-height: 35px;
    margin-left: 750px;
    margin-top: 180px;
}

.site-banner-services .book-club p {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(100, 100, 100);
    margin-left: 750px;
    padding-top: 10px;
}

.site-banner-services .services-video4 {
    padding-left: 70px;
    margin-top: -400px;
}

.padding-for-bottom {
    margin-top: 200px;
}

/* End Services Area */

/* ==================================================== Contact us =========================================================== */

/* Start Contact Us Area */

.site-banner-contact .bg-image-contact {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url(../img/contact-bg.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.site-banner-contact .contact-title {
    font-family: 'Abril Fatface', cursive;
	font-size: 85px;
	color: #FFF;
    transform: translate(37%, -450%);
    z-index: 2;
}

.site-banner-contact h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translate(380%, -22000%);
    z-index: 2;
}

.site-banner-contact {
    background: rgb(250, 250, 250);
}

.wrap {
    width: 100%;
    }
    
    .floatleft {
        float: left; 
        width: 50%;
        background-color: rgb(250, 250, 250);
        height: 600px;
    }
    
    .floatright {
        float: right;
        background-color: rgb(250, 250, 250);
        height: 600px;
        width: 50%;
    }

.site-banner-contact .contact-us-title h1 {
    font: var(--roboto);
	font-size: 25px;
	color: rgba(0, 0, 0);
    text-transform: uppercase;
}

.site-banner-contact .contact-us-title p {
    font: var(--roboto);
	font-size: 15px;
	color: rgb(0, 0, 0);
}

.site-banner-contact .contact-us-title {
    padding-bottom: 50px;
}

.site-banner-contact .form-control {
    width: 600px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 0;
    background: transparent;
    outline: none;
    color: rgb(206, 182, 116);
    font-size: 15px;
}

.site-banner-contact .submit {
    padding: 1rem 3rem;
    font: var(--roboto);
    font-size: 12px;
    letter-spacing: 0.2125rem;
    position: relative;
    border: none;
    background: rgb(206, 182, 116, 0.774);
    background-clip: padding-box;
    color: rgba(0, 0, 0, 0.774);
    transition: background .6s ease;
    text-transform: uppercase;
}

.site-banner-contact .submit:hover {
    background: var(206, 182, 116, 0.774);
    color:  rgba(255, 255, 255, 0.774);
    box-shadow: var(--box-shadow);
}

.site-banner-contact .find-us-title h1 {
    font: var(--roboto);
	font-size: 25px;
	color: rgba(0, 0, 0);
    text-transform: uppercase;
}

.site-banner-contact .find-us-title p {
    font: var(--roboto);
	font-size: 18px;
	color: rgb(0, 0, 0);
}

.site-banner-contact .maps {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
     -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
         filter: grayscale(100%);
}

.site-banner-contact .contact-data {
    background: rgb(250, 250, 250);
    padding-top: 75px;
    height: 40vh;
}

.site-banner-contact .grid {
    justify-content: center;
    text-align: center;
}

.site-banner-contact .tel {
	font-size: 30px;
}

.site-banner-contact .tel p {
    font: var(--roboto);
	font-size: 10px;
	color: rgba(0, 0, 0);
}

.site-banner-contact .email {
	font-size: 30px;
}

.site-banner-contact .email p {
    font: var(--roboto);
	font-size: 10px;
	color: rgba(0, 0, 0);
}

.site-banner-contact .hours {
	font-size: 30px;
}

.site-banner-contact .hours p {
    font: var(--roboto);
	font-size: 10px;
	color: rgba(0, 0, 0);
}

/* End Contact Us Area */

/* ==================================================== Admin =========================================================== */

/* Start Admin Area */

.clearfix {
    float: none;
    clear: both;
}

.site-banner-admin .bg-image-admin {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url(../img/admin-bg.jpg);
    background-size: cover;
    filter: brightness(80%);
}
.site-banner-admin .admin-title {
    font-family: 'Abril Fatface', cursive;
	font-size: 85px;
	color: #FFF;
    transform: translate(37%, -450%);
    z-index: 2;
}

.site-banner-admin h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translate(380%, -22000%);
    z-index: 2;
}

.site-banner-admin .main-content .dashboard-title h1 {
    padding-bottom: 50px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.welcome-message {
    font-family: sans-serif;
	font-size: 25px;
    color:rgb(6, 82, 221);
    padding-left: 612px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.site-banner-admin .main-content .col-3 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.site-banner-admin .main-content .box {
    width: 250px;
    background-color: rgb(255, 172, 172);
    margin: 50px;
    padding: 20px;
    float: left;
}

/* End Admin Area */

/* ==================================================== Accounts =========================================================== */

/* Start Accounts Area */

.clearfix {
    float: none;
    clear: both;
}

.site-banner-accounts .bg-image-accounts {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url(../img/accounts-bg.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.site-banner-accounts .accounts-title {
    font-family: 'Abril Fatface', cursive;
	font-size: 85px;
	color: #FFF;
    transform: translate(37%, -450%);
    z-index: 2;
}

.site-banner-accounts h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translate(380%, -22000%);
    z-index: 2;
}

.site-banner-accounts .main-content .manage-accounts-title h1 {
    padding-left: 175px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.tbl-full {
    width: 100%;
}

.site-banner-accounts .add-account-button {
    padding-left: 175px;
}

.btn-add-admin {
    padding: 1.5%;
    font: var(--roboto);
    font-size: 12px;
    letter-spacing: 0.2rem;
    position: relative;
    border: none;
    background: black;
    background-clip: padding-box;
    color: white;
    text-transform: uppercase;
}

.btn-add-admin:hover {
    background: white;
    color:  black;
    border: 1px solid black;
    margin: -1px;
}

.admin-message {
    padding-left: 175px;
    color:rgb(6, 82, 221);
}

.btn-change-password {
    padding: 6px;
    font: var(--roboto);
    font-size: 12px;
    position: relative;
    border: none;
    background: rgb(247, 183, 49);
    background-clip: padding-box;
    color: black;
    text-transform: uppercase;
}

.btn-change-password:hover {
    background: rgb(247, 183, 49);
    color:  white;
    margin: -.01px;
}

.btn-update-admin {
    padding: 6px;
    font: var(--roboto);
    font-size: 12px;
    position: relative;
    border: none;
    background: rgb(11, 232, 129);
    background-clip: padding-box;
    color: black;
    text-transform: uppercase;
}

.btn-update-admin:hover {
    background: rgb(11, 232, 129);
    color:  white;
    margin: -.01px;
}

.btn-delete-admin {
    padding: 6px;
    font: var(--roboto);
    font-size: 12px;
    position: relative;
    border: none;
    background: rgb(255, 63, 52);
    background-clip: padding-box;
    color: black;
    text-transform: uppercase;
}

.btn-delete-admin:hover {
    background: rgb(255, 63, 52);
    color:  white;
    margin: -.01px;
}

table tr th {
    padding-top: 100px;
    padding-left: 175px;
    padding-bottom: 35px;
    text-align: left;
}

table tr td {
    padding-left: 175px;
    padding-bottom: 15px;
}

table {
    margin-bottom: 125px;
}

/* End Accounts Area */

/* Start Add Admin Area */

.clearfix {
    float: none;
    clear: both;
}

.site-banner-add-admin .bg-image-accounts {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url(../img/accounts-bg.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.site-banner-add-admin .admin-title {
    font-family: 'Abril Fatface', cursive;
	font-size: 85px;
	color: #FFF;
    transform: translate(37%, -450%);
    z-index: 2;
}

.site-banner-add-admin h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translate(380%, -22000%);
    z-index: 2;
}

.site-banner-add-admin .main-content .add-admin-title h1 {
    padding-top: 100px;
    padding-left: 175px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.site-banner-add-admin .form-control {
    margin-left: -10px;
    width: 400px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 0;
    background: transparent;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.site-banner-add-admin .form-control-submit {
    padding: 1rem 3rem;
    width: 100%;
    font: var(--roboto);
    font-size: 12px;
    letter-spacing: 0.2125rem;
    border: none;
    background: black;
    background-clip: padding-box;
    color: white;
    text-transform: uppercase;
}

.site-banner-add-admin .form-control-submit:hover {
    background: white;
    color:  black;
    border: 1px solid black;
    margin: -1px;
}

.site-banner-add-admin .clearfix {
    padding-top: 200px;
}

/* End Add Admin Area */

/* Start Change Password Area */

.clearfix {
    float: none;
    clear: both;
}

.site-banner-change-password .bg-image-accounts {
    position: relative;
    width: 100%;
    height: 75vh;
    background: url(../img/accounts-bg.jpg);
    background-size: cover;
    filter: brightness(80%);
}

.site-banner-change-password .admin-title {
    font-family: 'Abril Fatface', cursive;
	font-size: 85px;
	color: #FFF;
    transform: translate(37%, -450%);
    z-index: 2;
}

.site-banner-change-password h2 {
    position: relative;
    content: " ";
    display: block;
    margin-left: 44%;
    width: 10%;
    border-bottom: 2px solid rgb(255, 255, 255);
    transform: translate(380%, -22000%);
    z-index: 2;
}

.site-banner-change-password .main-content .change-password-title h1 {
    padding-top: 100px;
    padding-left: 175px;
    padding-bottom: 30px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

.site-banner-change-password .form-control {
    margin-left: -10px;
    width: 400px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.322);
    border-radius: 0;
    background: transparent;
    outline: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.site-banner-change-password .form-control-submit {
    padding: 1rem 3rem;
    width: 100%;
    font: var(--roboto);
    font-size: 12px;
    letter-spacing: 0.2125rem;
    border: none;
    background: black;
    background-clip: padding-box;
    color: white;
    text-transform: uppercase;
}

.site-banner-change-password .form-control-submit:hover {
    background: white;
    color:  black;
    border: 1px solid black;
    margin: -1px;
}

.site-banner-change-password .clearfix {
    padding-top: 200px;
}

/* End Change Password Area */



