/* Start Login Area */


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
    transition: 0.1s ease;
  }
  
body {
    background: rgba(247, 184, 49, 0.815);
    font-family: "Montserrat", sans-serif;
    margin: 0;
  }
  
  .login-page a {
    text-decoration: none;
  }
  
  .login-page .container-shadow {
    position: absolute;
    width: 525px;
    height: 675px;
    left: 50%;
    margin-left: -262.5px;
    margin-top: 60px;
    box-shadow: 0px 30px 50px -20px #000;
  }
  
  .login-page .container {
    position: absolute;
    width: 525px;
    height: 700px;
    left: 50%;
    margin-left: -262.5px;
    margin-top: 60px;
    background: linear-gradient(90deg, #29323c 0%, #3b4249 100%);
    box-shadow: 0px 0px 50px -20px #000;
  }
  
  .login-page .wrap {
    position: relative;
    width: 400px;
    margin: 0 auto;
  }

  .login-page .sign-up a {
    color: rgb(247, 183, 49);
  }

  .login-page .sign-up a:hover {
    color: black;
    cursor: pointer;
  }
  
  .login-page .headings {
    position: center;
    margin: 60px auto 70px;
  }
  
  .login-page .headings a {
    color: rgb(247, 183, 49);
    padding-bottom: 10px;
  }
  
  .login-page .headings a span {
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 132px;
  }

  .login-page .headings .heading a span {
    font-size: 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 112px;
  }

  .login-page .headings h1 {
    color: rgb(247, 183, 49);
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: -50px;
  }

  .login-page .headings .home h1:hover {
    color: black;
  }
  
  .login-page label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    padding: 13px 20px;
    position: relative;
    display: block;
    font-size: 14px;
    margin-top: -10px;
  }
  
  .login-page input {
    width: 100%;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: transparent;
    padding: 10px 20px;
    border: none;
    border-bottom: 2px solid #1d2124;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: -15px;
  }
  
  .login-page input:active,
  .login-page input:focus {
    border-bottom: 0.12em solid rgb(247, 183, 49);
    border-color: rgb(247, 183, 49);
  }
  
  .login-page #password {
    padding-right: 50px;
  }
  
  .login-page #password + i {
    color: rgba(255, 255, 255, 0.7);
    font-size: 25px;
    float: right;
    position: relative;
    top: -43px;
    right: 15px;
    cursor: pointer;
  }
  
  .login-page #password + i:hover {
    color: rgba(255, 255, 255, 1);
  }

  .signup .checkbox {
    margin-left: -20px;
    padding-top: 34px;
    width: 30px;
  }

  .signup .checkbox input {
    margin-left: -1px;
  }

  .signup .checkbox-text {
    width: 375px;
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    margin-top: -43px;
    margin-left: -2px;
    text-transform: lowercase;
    text-transform: capitalize;
  }

  .signup .checkbox-text a {
    font-size: 9px;
    color: rgb(247, 183, 49);
    margin-top: -40px;
    text-transform: lowercase;
    text-transform: capitalize;
  }
  
  .login-page .btn-sign-in {
    width: 100%;
    background: transparent;
    color: rgb(247, 183, 49);
    text-transform: uppercase;
    margin-top: 1.3em;
    padding: 12px;
    cursor: pointer;
    border: 1px solid rgb(247, 183, 49);
    letter-spacing: 0.3rem;
    font-weight: lighter;
  }
  
  .login-page .btn-sign-in:hover {
    background: rgb(247, 183, 49);
    border: 1px solid rgb(247, 183, 49);
    color: black;
    letter-spacing: 0.3rem;
    font-weight: lighter;
    transition: .1s ease-in-out;
  }

  .login-page footer .fp .icon {
    color: rgba(255, 255, 255, 0.7);
    margin-left: 175px;
    margin-top: 16px;
    font-size: 50px;
  }

  .login-page footer .home-link {
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    margin-top: -5px;
  }

  .login-page footer .home-link:hover {
    color: rgb(247, 183, 49);
  }
  
  .login-page #sign-in-form {
    display: block;
  }

  .admin-message-signup {
    padding-bottom: 25px;
    text-align: center;
    color: rgb(247, 183, 49);
}
  
  /* End Login Area */